<div class="modal-dialog" role="document" style="width:50%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-bold text-left">@ViewBag.Title</h4>
        </div>
        <hr />
        <div id="contentbaocao" class="modal-body">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="txtTieuDe1">Tiêu đề 1</label>
                    <input type="text" class="form-control" id="txtTieuDe1" value="@ViewBag.TieuDe1" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="txtTieuDe2">Tiêu đề 2</label>
                    <input type="text" class="form-control" id="txtTieuDe2" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="txtTieuDe3">Tiêu đề 3</label>
                    <input type="text" class="form-control" id="txtTieuDe3" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="txtDonViCapTren">Đơn vị cấp trên <span class="require">*</span></label>
                    <input type="text" class="form-control" id="txtDonViCapTren" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <label for="txtDonVi">Đơn vị <span class="require">*</span></label>
                    <input type="text" class="form-control" id="txtDonVi" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                <button class="btn-mvc" id="btnChuKy">Sửa chữ ký</button>
                <button class="btn-mvc btn-mvc-green btn-print" onclick="ExportChenhLechTiGia('pdf');"><span>Xuất file PDF</span></button>
                <button class="btn-mvc btn-mvc-green btn-print" onclick="ExportChenhLechTiGia('xlsx');"><span>Xuất file Excel</span></button>
                <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban" aria-hidden="true"></i><span>Đóng</span></button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_ui_chuky")
