USE [VIETTEL_NS]
GO
/****** Object:  Table [dbo].[DTKT_MucLuc]    Script Date: 06-Aug-18 4:15:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTKT_MucLuc](
	[Id] [uniqueidentifier] NOT NULL,
	[Id_Parent] [uniqueidentifier] NULL,
	[IsParent] [bit] NOT NULL,
	[Code] [nvarchar](12) NOT NULL,
	[Ng] [nvarchar](10) NULL,
	[Nganh] [nvarchar](2) NOT NULL,
	[STT] [nvarchar](10) NOT NULL,
	[sMoTa] [nvarchar](max) NULL,
	[NamLamViec] [int] NOT NULL,
	[iTrangThai] [int] NOT NULL,
	[DateCreated] [datetime] NULL,
	[UserCreator] [nvarchar](200) NULL,
	[DateModified] [datetime] NULL,
	[IpModified] [nvarchar](20) NULL,
	[UserModifier] [nvarchar](200) NULL,
	[AuditCount] [int] NULL,
	[AuditLog] [nvarchar](200) NULL,
 CONSTRAINT [PK_DTKT_MucLuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[DTKT_MucLuc] ([Id], [Id_Parent], [IsParent], [Code], [Ng], [Nganh], [STT], [sMoTa], [NamLamViec], [iTrangThai], [DateCreated], [UserCreator], [DateModified], [IpModified], [UserModifier], [AuditCount], [AuditLog]) VALUES (N'8aab898a-741f-43f3-aa6a-01c47c6ab83f', N'60fc92ab-dc18-4c7f-8b64-b8d7bf972a65', 0, N'1-2-13-05-00', N'53', N'55', N'-', N'Vận tải ', 2018, 1, CAST(0x0000A91F00D293C4 AS DateTime), NULL, CAST(0x0000A92F0186BA79 AS DateTime), N'186.41.110.25', N'admin', NULL, NULL)
INSERT [dbo].[DTKT_MucLuc] ([Id], [Id_Parent], [IsParent], [Code], [Ng], [Nganh], [STT], [sMoTa], [NamLamViec], [iTrangThai], [DateCreated], [UserCreator], [DateModified], [IpModified], [UserModifier], [AuditCount], [AuditLog]) VALUES (N'8bc21267-33d5-4b4b-919f-023b9084b6fd', N'39b1dad4-8b31-4c78-aaaf-d0b82ec6865d', 0, N'1-2-17-05-02', N'99', N'65', N'-', N'Bảo đảm KT', 2018, 1, CAST(0x0000A93400E687EB AS DateTime), N'hieppm', CAST(0x0000A93400FF48D5 AS DateTime), N'::1', N'hieppm', NULL, NULL)
INSERT [dbo].[DTKT_MucLuc] ([Id], [Id_Parent], [IsParent], [Code], [Ng], [Nganh], [STT], [sMoTa], [NamLamViec], [iTrangThai], [DateCreated], [UserCreator], [DateModified], [IpModified], [UserModifier], [AuditCount], [AuditLog]) VALUES (N'56733cea-cc66-42eb-959c-045f2b2416b2', N'60fc92ab-dc18-4c7f-8b64-b8d7bf972a65', 0, N'1-2-13-06-00', N'53', N'56', N'-', N'Doanh trại', 2018, 1, CAST(0x0000A91F00D293CE AS DateTime), NULL, CAST(0x0000A92F0186BA79 AS DateTime), N'186.41.110.25', N'admin', NULL, NULL)
GO
ALTER TABLE [dbo].[DTKT_MucLuc] ADD  CONSTRAINT [DF_DTKT_MucLuc_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[DTKT_MucLuc] ADD  CONSTRAINT [DF_DTKT_MucLuc_bLaHangCha]  DEFAULT ((0)) FOR [IsParent]
GO
ALTER TABLE [dbo].[DTKT_MucLuc] ADD  CONSTRAINT [DF_DTKT_MucLuc_Nganh]  DEFAULT ('') FOR [Nganh]
GO
ALTER TABLE [dbo].[DTKT_MucLuc] ADD  CONSTRAINT [DF_DTKT_MucLuc_STT]  DEFAULT ('') FOR [STT]
GO
ALTER TABLE [dbo].[DTKT_MucLuc] ADD  CONSTRAINT [DF_DTKT_MucLuc_iNamLamViec]  DEFAULT (datepart(year,getdate())) FOR [NamLamViec]
GO
ALTER TABLE [dbo].[DTKT_MucLuc] ADD  CONSTRAINT [DF_DTKT_MucLuc_iTrangThai]  DEFAULT ((1)) FOR [iTrangThai]
GO
ALTER TABLE [dbo].[DTKT_MucLuc] ADD  CONSTRAINT [DF_DTKT_MucLuc_dNgayTao]  DEFAULT (getdate()) FOR [DateCreated]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: binh thuong,0:da xoa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DTKT_MucLuc', @level2type=N'COLUMN',@level2name=N'iTrangThai'
GO
